<% if admin_signed_in? %>
  <nav id="sp-menu">
    <ul class="nav-links">
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    </ul>
  </nav>
<% else %>
  <nav>
    <ul class="nav-links">
      <li>
        <%= link_to "ログイン", new_admin_session_path %>
      </li>
    </ul>
  </nav>
<% end %>